ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  ul li{
    display: flex;
    
  }
  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

button{
  background-color:rgb(65, 51, 190);
  margin-right: 10px;
  border-bottom: solid 2px rgb(168, 168, 168);
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;

}

